{{ define "main" }}
<main class="miniresp-main">
  <h1 class="title">{{ .Title }}</h1>
  {{ if .Params.subtitle }}
    <h2 class="subtitle">{{ .Params.subtitle }}</h2>
  {{ end }}
  <article role="main" class="blog-post">
    {{ .Content }}
  </article>

  <div class="parts-list">
    <dl>
      {{ range (.Paginate ( first 999 .Pages.ByTitle )).Pages }}
        <dt class="part-title">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          {{ if .Params.status }}
            <span class="page-status">{{ .Params.status }}</span>
          {{ end }}
        </dt>
        {{ if .Params.description }}
          <dd class="part-entry">{{ .Params.description }}</dd>
        {{ end }}
      {{ end }}
    </dl>
  </div>
</main>
{{ end }}




