{{ define "main" }}
<main class="miniresp-main">
  <h1 class="title">{{ .Title }}</h1>
  {{ if .Params.subtitle }}
    <h2 class="subtitle">{{ .Params.subtitle }}</h2>
  {{ end }}
  <article role="main" class="blog-post">
    {{ if $.Page.Params.status }}
      <aside class="page-status">
        Status of this page:<br>
        {{ $.Page.Params.status }}
      </aside>
    {{ end }}
    {{ .Content }}
  </article>
</main>
{{ end }}
