<table class="bom">
 <thead>
  <tr>
   <th>Count</th>
   <th>Item</th>
   <th>ID</th>
   <th>Source</th>
  </tr>
 </thead>

{{ $path := .Get "path" }}
{{ $json := getJSON $path }}
{{ range $json.items }}
 <tr>
  <td>{{ .measure }}</td>
  <td>{{ .label }}</td>
  <td><a href="/parts/{{ .part }}/">{{ .part }}</a></td>
  <td>{{ if .source }} {{ .source }} {{end}} {{ if .build }} build {{end}}</td>
 </tr>
{{ end }}

</table>
