{{ define "header" }}
  <header class="header-section ">
    <div class="intro-header no-img">
      <div class="container">
        <div class="row">
          <div class="page-heading">
            <h1>{{ if .Data.Singular }}#{{ end }}{{ .Title }}</h1>
              {{ $subtitle := $.Params.subtitle }}
              {{ if $subtitle }}
                <hr class="small">
                <h1 class="subheading {{ .Type }}-subheading">{{ $subtitle }}</h1>
              {{ end }}
          </div>
        </div>
      </div>
    </div>
  </header>
{{ end }}


{{ define "main" }}
<div class="container">
  <div class="row">
    <article role="main" class="blog-post">
      {{ .Content }}
    </article>
  </div>
</div>
{{ end }}
