{{ define "main" }}
<main class="miniresp-main">
  <h1 class="title">{{ .Title }}</h1>
  {{ if .Params.subtitle }}
    <h2 class="subtitle">{{ .Params.subtitle }}</h2>
  {{ end }}
  <article role="main" class="blog-post">
    {{ .Content }}
  </article>

{{ $paginator := .Paginate ( where .Pages "Params.layout" "overview" ) }}
{{ template "_internal/pagination.html" . }}

  <div class="systems-list">
    <dl>
      {{ range $paginator.Pages }}
        <dt class="system-title">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          {{ if .Params.status }}
            <span class="page-status">{{ .Params.status }}</span>
          {{ end }}
        </dt>
        {{ if .Params.description }}
          <dd class="system-entry">{{ .Params.description }}</dd>
        {{ end }}
      {{ end }}
    </dl>
  </div>
  {{ if or ($paginator.HasPrev) (.Paginator.HasNext) }}
    <ul class="pager main-pager">
      {{ if $paginator.HasPrev }}
        <li class="previous">
          <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}">&larr; {{ i18n "newerPosts" }}</a>
        </li>
      {{ end }}
      {{ if $paginator.HasNext }}
        <li class="next">
          <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}">{{ i18n "olderPosts" }} &rarr;</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
</main>
{{ end }}

