<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "head.html" . }}
  <body>
    {{ block "header" . }}
    <header class="fixed-top">
      <div class="miniresp-main">
        <div class="project">
          <a title="{{ .Site.Title }}" href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
        </div>

        <div class="avatar">
          <div>
            <a title="{{ .Site.Title }}" href="{{ "" | absLangURL }}">
              <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" />
            </a>
          </div>
        </div>

        {{ partial "miniresp-nav.html" . }}
      </div>
    </header>
    <div class="fixed-top-spacer"></div>
    {{ end }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
  </body>
</html>

