{{ define "main" }}
<main class="miniresp-main">
  <h1 class="title">_DEFAULT/LIST {{ .Title }}</h1>
  {{ if .Params.subtitle }}
    <h2 class="subtitle">{{ .Params.subtitle }}</h2>
  {{ end }}
  <article role="main" class="blog-post">
    {{ .Content }}
  </article>

  <div class="posts-list">
    {{ range .Paginator.Pages }}
      <article class="post-preview">
        <a href="{{ .Permalink }}">
          <h2 class="post-title">{{ .Title }}</h2>
        </a>
        <div class="post-entry">
          {{ if .Params.summary }}
            {{ .Params.summary }}
          {{ else }}
            {{ if .Truncated }}
              {{ .Summary }}
              <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
            {{ else }}
              {{ .Content }}
            {{ end }}
          {{ end }}
        </div>

        {{ if .Params.tags }}
          <span class="post-meta">
            {{ range .Params.tags }}
              #<a href="{{ $.Site.LanguagePrefix }}/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
            {{ end }}
           </span>
        {{ end }}

      </article>
    {{ end }}
  </div>
  {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <ul class="pager main-pager">
      {{ if .Paginator.HasPrev }}
        <li class="previous">
          <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}">&larr; {{ i18n "newerPosts" }}</a>
        </li>
      {{ end }}
      {{ if .Paginator.HasNext }}
        <li class="next">
          <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}">{{ i18n "olderPosts" }} &rarr;</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
</main>
{{ end }}




