* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --default-text-color: #404040;
  position: relative;
}

body {
  font-size: 18px;
  color: var(--default-text-color);
  position: relative;ga
  background: #FFF;
  margin: 0;

  --default-line-height: 1.5;
}

p {
  line-height: var(--default-line-height);
  margin: 15px auto;
  padding: 0;
}

li {
  line-height: var(--default-line-height);
  margin: 8px 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 20px 0;
}

a {
  color: #008AFF;
}
a:hover,
a:focus {
  color: #0085a1;
}

blockquote {
  color: #808080;
  font-style: italic;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
}

table {
     border-collapse: collapse;
}

dt {
    margin-top: 15px;
}

input {
  font-size: 18px;
  color: var(--default-text-color);
}

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
::selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}

header {
    background: #f5f5f5;
    border-bottom: #eaeaea solid 1px;
    position: relative;
    --padding: 8px 0;
}

header > div.miniresp-main {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

div.miniresp-main {
    padding: 0 20px;
}
header div.project {
    font-weight: 800;
    width: 45%;
}

header nav.miniresp {
    width: 45%;
    text-align: right;
}

nav.miniresp ul.nav {
    margin: 0;
    text-align: right;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}
nav.miniresp ul.nav li {
    display: inline-block;
    margin: 0;
    padding: 0 1.2ex;
}
header > div.miniresp-main a {
    text-decoration: none;
    color: var(--default-text-color);
}
header > div.miniresp-main > nav.miniresp .navlinks-parent:after {
  content: " \25BC";
}

header > div.miniresp-main > nav.miniresp .navlinks-children {
  width: 100%;
  display: none;
  word-break: break-word;
}
header > div.miniresp-main > nav.miniresp .navlinks-container .navlinks-children a {
  display: block;
  padding: 10px;
  padding-left: 30px;
  background: #f5f5f5;
  text-decoration: none !important;
  border-width: 0 1px 1px 1px;
  font-weight: normal;
}

header > div.miniresp-main > div.avatar {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  margin: var(--padding);
}

header.header-small > div.miniresp-main > div.avatar {
    display: none;
}

header > div.miniresp-main > div.avatar > div {
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  margin: 0 0 0 calc(50% - 50px);
}

header > div.miniresp-main > div.avatar > div img {
  width: 100%;
  border-radius: 50%;
  display: block;
}

@media ( max-width: 720px ) {
    header > div.miniresp-main > div.avatar {
        display: none;
    }

    header div.project {
        width: 40%;
    }

    header nav.miniresp {
        width: 60%; /* take up the slack */
    }
}

@media ( max-width: 560px ) {
    header div.project {
        width: 80%;
    }

    header nav.miniresp {
        width: 20%;
    }
}

footer {
    font-size: 70%;
    background: #f5f5f5;
    border-top: #eaeaea solid 1px;
    margin: 50px 0 0 0;
    padding: 12px;
}

footer ul.social {
    list-style: none;
}
footer ul.social li {
    display: inline-block;
    margin: 0 1ex;
    padding: 0;
}
footer ul.social,
footer p {
    text-align: center;
    margin: 1em auto;
    padding: 0;
}

footer a {
    color: var(--default-text-color);
}

main {
    padding: 0 4px;
}

h1.front {
    font-size: 60px;
    font-weight: 500;
    line-height: 1.0;
}
h2.front {
    margin: 12px 0 30px 0;
    font-weight: 300;
    line-height: 1.1;
}
h1.title,
h2.subtitle {
    text-align: center;
    font-weight: 500;
}

div.gallery figure {
    margin: 0;
}
.gallery .img {
    max-width: 245px;
    max-height: 245px;
}

article,
div.systems-list,
div.parts-list {
    max-width: 768px;
    margin: 0 auto;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

div.fixed-top-spacer {
    height: 110px;
}

div.news {
    border: 1px solid #808080;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 40px 0;
}

div.news h3 {
    margin-top: 10px;
}

.left {
    float: left;
    width: 50%;
}
.right {
    float: right;
    width: 50%;
}
.clear {
    clear: both;
}

aside.page-status {
    float: right;
    max-width: 25%;
    padding: 5px 10px;
    margin: 0 0 20px 20px;
}
span.page-status {
    padding: 2px 4px;
    margin-left: 20px;
}
.page-status {
    font-size: small;
    color: #808080;
    text-align: center;
    border: 1px solid #808080;
    border-radius: 10px;
}

aside.aspects {
    margin-bottom: 30px;
}

aside.aspects > ul {
    text-align: center;
    margin: 0;
    padding: 0;
}
aside.aspects > ul > li {
    font-size: small;
    display: inline;
    line-break: none;
}

aside.aspects > ul > li:after {
    content: ' \00b7 ';
}
aside.aspects > ul > li:last-of-type:after {
    content: '';
}

.selected {
    font-weight: 600;
}
