<footer>
  <div class="minresp-main">
    <ul class="social">
      {{ range .Site.Data.springtime.social.social_icons }}
        {{- if isset $.Site.Author .id }}
          <li>
            <a href="{{ printf .url (index $.Site.Author .id) }}" title="{{ .title }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="{{ .icon }} fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        {{- end -}}
      {{ end }}
      {{ if .Site.Params.rss }}
        <li>
          <a href="{{ "index.xml" | absLangURL }}" title="RSS">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
      {{ end }}
    </ul>
    <p class="copyright">
      {{ .Site.Author.name }} &nbsp;&bull;&nbsp; &copy; 2019-2020
    </p>
    <p class="license">
      <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
      </a>
      <a xmlns:cc="http://creativecommons.org/ns#" href="https://www.project-springtime.org/" property="cc:attributionName" rel="cc:attributionURL" xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Project
         Springtime</a> is licensed under a
      <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
    </p>
  </div>
</footer>
