{{ define "main" }}
<main class="miniresp-main">
  <h1 class="title front">{{ .Title }}</h1>
  <h2 class="subtitle front">{{ .Params.subtitle }}</h1>
  <article class="front">
    {{ .Content }}
  </article>
</main>
{{ end }}

