table.bom {
    width: 100%;
}

table.bom thead th {
    text-align: center;
}

table.bom td:nth-child(1) {
    text-align: center;
    width: 10%;
}
table.bom td:nth-child(2) {
    width: 50%;
}
table.bom td:nth-child(3) {
    width: 30%;
}

table.bom td,
table.bom th {
    border: 1px solid #a0a0a0;
    padding: 6px;
}
